repos:
#####
# Basic file cleanliness
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-yaml
    -   id: check-toml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
#####
# Python
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    # Sort imports
    - id: ruff
      args: ['check', '--select', 'I', '--fix']
    # Run the linter
    - id: ruff
      args: ['--line-length', '79']
    # Run the formatter
    - id: ruff-format
      args: ['--line-length', '79']
#####
# R
-   repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9017
    hooks:
    -   id: style-files
    -   id: lintr
#####
# Java
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-java
    args: [--aosp,--autofix]
#####
# Julia
# Due to lack of first-class Julia support, this needs Julia local install
#   and JuliaFormatter.jl installed in the library
# - repo: https://github.com/domluna/JuliaFormatter.jl
#   rev: v1.0.39
#   hooks:
#   - id: julia-formatter
#####
# Secrets
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
        args: ["--verbose", "--"]
    -   id: clippy
        # Use 'all-targets' to run on all code, including tests and examples
        args: ["--all-targets"]   # let Cargo.toml [lints] control levels
