name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - uses: actions/cache@v5
      with:
        path: |
          ~/.cache/pre-commit
          ~/.cache/R/renv
        key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: true
        r-version: "4.4"
    - uses: pre-commit/action@v3.0.1
